
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
    font-family: 'reitam';
    src: url('Reitam.otf');
}

@-webkit-keyframes RGBbackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes RGBbackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes RGBbackground { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#loading {

}
#loadingBG {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 998;
    background: #000000;
}
#loader {
    z-index: 999;
    position: fixed;
    top: 35vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 70vw;
    max-width: 70vh;
    opacity: 0;
}
#loaderText {
    z-index: 999;
    position: relative;
    top: 60vh;
    /* left: 50vw; */
    /* transform: translate(-50%, -50%); */
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    /* width: 90vw; */
    /* max-width: 90vh; */
    font-size: 4em;
    opacity: 0;
    font-family: "reitam",Open Sans, Helvetica, arial, sans-serif;
}

html {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: Open Sans, Helvetica, arial, sans-serif;
}

#bg {	
	position:fixed;
	background: cover;
    background: linear-gradient(145deg, #aa1313, #aa1370,  #1181b6, #20aa13, #aa5713);
    background-size: 400% 400%;
    /*background: #1366aa;*/
    width: 100vw;
    height: 120vh;
    margin: 0;
    padding: 0;
    z-index: -2;
    -webkit-animation: RGBbackground 100s ease infinite;
    -moz-animation: RGBbackground 100s ease infinite;
    animation: RGBbackground 100s ease infinite;
}

#fixedHeader{
    display: flex;
    position:fixed;
	background: cover;
    background: linear-gradient(145deg, #aa1313, #aa1370,  #1181b6, #20aa13, #aa5713);
    background-size: 400% 4000%;
    /*background: #1366aa;*/
    color:white;
    width: 100vw;
    height: 0px;
    -webkit-animation: RGBbackground 100s ease infinite;
    -moz-animation: RGBbackground 100s ease infinite;
    animation: RGBbackground 100s ease infinite;
    flex-direction: row;
    top: 65px;
    opacity: 0;
    z-index: 50;
    vertical-align: middle;
    border-bottom: solid 1px #fff;
    transition-duration: 100ms;
}
#fixedHeaderContent {
    margin-left: 10px;
    margin-top: 18px;
}
#fixedHeaderContent a {
    cursor: pointer;
    text-decoration: None;
    padding: 15px 10px;
    font-weight: 400;
    font-size: 12px;
    vertical-align: middle;
    opacity: 0.7;
    color: white;
}
#fixedHeaderContent #active {
    opacity: 1 !important;
}
#fixedHeaderContent a:hover {
    opacity: 1;
}

.luxbar-menu {
    display: none;
}

h1 {
    font-family: reitam, Open Sans, Helvetica, arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

header {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0.6vh;
    left: 0.6vw;
    vertical-align: middle;
}

header a {
    cursor: pointer;
    text-decoration: None;
    padding: 15px 10px;
    font-weight: 400;
    font-size: 12px;
    vertical-align: middle;
    opacity: 0.7;
    color: white;
}

header #active {
    opacity: 1 !important;
}

header a:hover {
    opacity: 1;
}

#credits, #featurescredits {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0.6vh;
    right: 0.6vw;
    font-family: reitam;
}
#discordlogo {
    height: 50px;
}
#deluuxelogo {
    margin-top: 8px;
    margin-left: 10px;
    height: 30px;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

#mainscreen {
    position: fixed;
    right: -30vh;
    top: 50%;
    transform: translate(-00%, -50%);
    width: 75vw;
    transition-duration: 400ms;
}
#mainscreen:focus {outline: none}

#biglogo {
    /*position: fixed;
    margin: 0px;
    left: 10vw;
    top: 40vh;
    transform: translate(-20%, -50%);*/
    margin-bottom: -50px;
    margin-left: 10px;
    height: 40vh;
}

#maincontent {
    position: fixed;
    margin: 0px;
    left: 10vw;
    top: 43vh;
    font-size: 2.5vh;
    transform: translate(-20%, -40%);
    width: 512px;
    text-align: center;
}

#mainbuttons {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#maincontent a img {
    height: 4vh;
}

#mainbuttons button{
    font-family: reitam;
    color:  #2c2f33;
    background-color: white;
    font-size: 1.5vh;
    border:none;
    margin: 15px;
    padding: 15px 5vw;
    border-radius: 5px;
    transition-duration: 500ms;
}

#mainbuttons button:hover {
    transform: translate(0%, 1px);
    transition-duration: 200ms;
}

#mainbuttons button:active {
    transform: translate(0%, 2px);
}

#mainbuttons button:focus {
    outline: none;
}

#vid111 {
    display: none;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0.2%); 
    z-index: 999;
    width: 100vw;
}

#commands {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    flex-direction: column;
}

#commandsdivider {
    background: rgb(206, 206, 206);
    width: 80vw;
    height: 2px;
    margin: 40px;
    border-radius: 2px;
    align-self: center;
}

#commandsinvite {
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 60px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

#features {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 80vw;
    flex-direction: column;
    margin: auto;
}

.feature {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.featureReverse {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.featureAnimations {
    width: 50vw;
    margin: auto;
    /*padding: 0px;
    border-radius: 5px;
    border: solid 1px rgb(204, 204, 204);*/
}

#wallpaper {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    flex-direction: column;
    margin: auto;
}

.wallpaper {
    display: flex;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.wallpaperReverse {
    display: flex;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

#scroller {
    opacity: 1;
    position: fixed;
    height: 50px;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0); 
    transition-duration: 300ms;
}

#premiumContainer {
    width: 80vw;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#premiumContainer p {
    text-align: center;
    font-size: 1.2em;
}

#premium-comparison, #premium-comparison th, #premium-comparison td {
    font-size: 2vw;
    border-collapse: collapse;
    padding: 20px;
}

a {
    color: #ffffff;
}

#premium-comparison tr {
    border-bottom: 1px solid #fff;
}

.table-icons {
    align-self: center;
    margin: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.premium-free {
    opacity: 0.8;
}

/* audio player */
@keyframes vinyl {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.musicbutton {
    display: none;
    position: fixed;
    bottom: 12px;
    left: 25px;
    z-index: 10;
    border-radius: 50%;
    border: none;
    height: 55px;
    width: 55px;
    background: url("./assets/vinyl.svg");
}
.musicbutton:focus{
    outline: none;
}
#startbutton:hover i {
    animation: vinyl 750ms;
}
.musicbutton i {
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color: white;
    font-size: 1.6em;
    margin: -0px;
    transition-duration: 200ms;
}
#pausebutton {
   animation: vinyl 2s infinite linear;
}
#pausebutton i {
    animation: vinyl 2s infinite linear reverse;

}
#vinyl-arm {
    display: none;
    position: fixed;
    left: 8px;
    bottom: 4px;
    height: 60px;
    width: 25px;
    z-index: 11;
    transform: rotate(150deg);
    transition-duration: 400ms;
}
/* END audio player */

@media only screen and (max-width: 1420px) {
    #mainscreen {
        right: -40vh;
    }
}

@media only screen and (max-width: 680px) {
    #loaderText {
        font-size: 1.5em;
    }
    #mainscreen {
        display: none;
    }
    #maincontent {
        top: 45vh;
        width: 80vw;
        left: 50%;
        transform: translate(-50%, -50%);  
    }
    header {
        left: 50%;
        transform: translate(-50%, 0%);  
        white-space: nowrap;
    }
    #credits {
        position: fixed;
        top: unset;
        bottom: -5px;
        right: unset;
        left: 53%;
        transform: translate(-50%, 0%);  
    }
    #deluuxelogo {
        margin-top: 15px;
        margin-left: 5px;
        height: 15px;
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
    }
    #biglogo {
        margin-bottom: -50px;
        margin-left: 10px;
        width: 80vw;
    }    
    #discordlogo {
        margin-top: 10px;
        height: 30px;
    }
    #previewbuttonsmallscreen {
        display: inline;
    }
    #mainbuttons button{
        margin: 0.5vw;
    }
    #previewbutton {
        display: none;
    }
    #mainbuttons button:active, #mainbuttons button:hover {
        transform: unset;
    }
    .containercontent {
        flex-direction: column !important;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #container2 {
        clip-path: polygon(
            0 0, /* left top */
            100% 0%, /* right top */ 
            100% 100%, /* right bottom */
            0 100% /* left bottom */
        );
        padding-top: 50px;
        white-space: normal;
    }
    #container3 {
        padding-top: 50px;
    }
    body{
        margin: 0px;
    }
    .containercontent img {
        display: none;
    }
    .nomobile {
        display: none !important;
    }
    #premiumContainer p {
        font-size: 0.9em;
    }
    #premiumContainer {
        width: 90vw;
        margin-top: 50px;
    }
    #premiumContainer p {
        font-size: 1.2em;
    }
    #premium-comparison, #premium-comparison th, #premium-comparison td {
        padding: 5px;
        font-size: 0.9em;
    }
    .feature {
        flex-direction: column;
    }
    .featureReverse {
        flex-direction: column;
    }
    .wallpaper {
        flex-direction: column;
    }
    .wallpaperReverse {
        flex-direction: column;
    }
    .luxbar-menu {
        display: block;
        background: cover !important;
        background: linear-gradient(145deg, #aa1313, #aa1370,  #1181b6, #20aa13, #aa5713) !important;
        background-size: 400% 4000% !important;
        color:white !important;
        -webkit-animation: RGBbackground 100s ease infinite;
        -moz-animation: RGBbackground 100s ease infinite;
        animation: RGBbackground 100s ease infinite;
        border-bottom: solid 1px #fff !important;
    }
    .luxbar-checkbox:checked ~ .luxbar-menu{
        height: 100%; 
    }
    .luxbar-menu-material-cyan .active, .luxbar-menu-material-cyan .luxbar-item:hover {
        background: #2c2f33 !important;
    }
    #fixedHeader {
        display: none !important;
    }
    .luxbar-checkbox:checked ~ .luxbar-menu {
        overflow: hidden !important;
    }
}

@media only screen and (min-width: 515px) and (max-width: 680px)  {
    #maincontent {
        top: 50vh;
        width: 80vw;
        left: 50%;
        transform: translate(-50%, -50%);  
    }
}
@media only screen and (max-width: 1171px)  {
    #container2img {
        margin-right: 10vw;
    }
}
@media only screen and (max-width: 888px)  {
    #container2img {
        margin-right: 10px;
    }
    .nomobile {
        display: none !important;
    }
}

@media only screen and (max-height: 610px)  {
    #mainscreen {
        display: none;
    }
   /* #maincontent {
        top: 50vh;
    }*/
}

